@font-face {
  font-family: 'chaparral';
  src: url('../font/chaparral.ttf');
}

a{
  text-decoration: none;
}

#headeroverflow{
  z-index: 20;
  background-color: #fff;
  height: 100px;
  padding-top: 20px;
  font-family: 'chaparral';
  font-size: 32px;
  font-style: none;
  color: #525c5c;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
 top: 0; /* Position the navbar at the top of the page */
 width: 100%; /* Full width */
 box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
#header, #links, a{
  text-decoration: none;
}

#home{

}
.rainbow{
}
.logo{
  position: relative;
  margin-top: 242px;
  z-index: 10;
}
.bg{
  position: fixed;
  left: 0;
  z-index: 9;
}
.text{
  font-family: 'chaparral';
  position: relative;
  font-size: 64px;
  color: #fff;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, .7);
  margin-top:33px ;
  z-index: 10;
}
